body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.header
{
	background-color: #EEE;
	border-bottom: 1px solid #EEE;
	padding: 5px;
}

.header h1
{
	margin: 0px;
}
.header h2
{
	margin: 0px;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
}
.header h3
{
	margin: 0px;
	text-align: right;
	font-weight: normal;
	font-size: 10px;
}

.header h4
{
	margin: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.content
{
	background-color: #FFFFFF;
	border-top: 1px solid #333;
	padding: 5px;
	font-size: 12px;
	position: relative;
}

.content h1
{
	margin: 0px;
	margin-bottom: 4px;
	font-size: 16px;
}

.content h2
{
	margin: 0px;
	margin-bottom: 2px;
	font-size: 14px;
}

.content h3
{
	margin: 0px;
	margin-bottom: 2px;
	font-size: 12px;
}

a
{
	color: #009aff;
	text-decoration: none;
}

a:hover
{
	color: #03436d;
}

.game_actions tr td
{
	vertical-align: top;
	background-color: #DDD;
	padding: 15px;
}

.game_actions_form tr td
{
	padding: 2px;
}

.content li
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

.content ul
{
	margin: 5px;
	padding: 0px;
}

#window_alerts
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999;
}

.window_alert
{
	position: relative;
	border: 1px solid black;
	min-height: 100px;
	width: 350px;
	background-color: white;
	background-image: url('../img/kpax_alert_bg.png');
}

.window_alert_image
{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 36px;
	left: 10px;
	border: 1px solid black;
	background: white;
}

.window_alert p
{
	margin: 10px;
	margin-left: 60px;
	font-size: 11px;
}

.window_alert h1
{
	display: block;
	background-color: black;
	background-image: url('../img/kpax_alert_header.png');
	background-repeat: no-repeat;
	height: 21px;
	color: white;
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

#game_console
{
	height: 32ex;
	width: 90%;
	font-family: monospace;
	color: gray;
	overflow-y: scroll;
	background-color: black;
	padding: 5px;
}